@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    /*primary*/
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    /*neutral*/
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    /* gradient a */
    --gradient-a-from: hsl(0, 0%, 100%);
    --gradient-a-to: hsl(0, 100%, 98%);
    /*gradient b*/
    --gradient-b-from: hsl(0, 80%, 86%);
    --gradient-b-to: hsl(0, 74%, 74%);
}

* {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.container {
    display: flex;
    /*  background: linear-gradient(135deg, var(--gradient-a-from), var(--gradient-b-to)); */
    background-image: url(../images/bg-pattern-desktop.svg);
    max-width: 1440px;
    background-color: linear-gradient(90deg, yellow, green);
    background-repeat: no-repeat;
}

.main {
    padding: 4rem 10rem;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -.5rem;
    line-height: 5rem;
    letter-spacing: 1rem;
    color: var(--Dark-Grayish-Red);
    margin-bottom: 0;
}

.title-rose {
    color: var(--Desaturated-Red);
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 8rem;
    letter-spacing: .9rem;
}

.text {
    color: var(--Desaturated-Red);
    line-height: 1.7rem;
    padding-right: 5rem;
}

.form {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;

}

.text-email {
    /* padding: 1rem 7rem */
    min-width: 350px;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 2rem;
    border: solid 1px var(--Desaturated-Red);
    color: var(--Dark-Grayish-Red);

}


.text-email::placeholder {
    color: var(--Desaturated-Red);
}

input[type]:focus {
    border-color: var(--Soft-Red);
    border: solid 2px var(--Soft-Red);
    outline: 0 none;
}


.valid-email {
    color: var(--Soft-Red);
    font-size: .9rem;
    padding-left: 2rem;
    line-height: .2rem;
}

.btn {
    background: linear-gradient(90deg, var(--gradient-b-from), var(--gradient-b-to));
    cursor: pointer;
    width: 6rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  border-top-right-radius: .5rem;
   border-bottom-right-radius: .5rem; */
    border-radius: 2rem;
    position: absolute;
    left: 21rem;
    box-shadow: 0px 10px 25px 2px var(--gradient-b-from);
}

.error-icon {
    position: absolute;
    left: 18rem;
    top: 1.7;
}

.btn:hover {
    background: linear-gradient(90deg, var(--gradient-b-from), var(--gradient-b-from));
}

.img img {}

.container-mobile {
    display: none;
}

@media(max-width: 1000px) {
    .container {
        display: none;
    }

    .container-mobile {
        display: block;
        background-color: #fff9f9;
        
    }

    .header-mobile {
        padding: 1rem;

    }

    .logo-mobile {

        width: 100px;
        height: auto;
        padding: 1rem;
    }

    .main-mobile {
        max-width: 375px;
    }

    .title-rose {
        /* color: var(--Desaturated-Red); */
        font-size: 2.5rem;
        font-weight: 300;
        /* text-transform: uppercase; */
        padding-top: 3rem;
        letter-spacing: .7rem;
        text-align: center;
    }

    .title {
        font-size: 2.5rem;
       /*  font-weight: 600; */
        /* text-transform: uppercase; */
        /* margin-top: -.5rem; */
        line-height: 2.7rem;
        letter-spacing: .7rem;
        /* color: var(--Dark-Grayish-Red); */
        /* margin-bottom: 0; */
        text-align: center;
        padding-top: .4rem;
    }

    .text {
       /*  color: var(--Desaturated-Red); */
        line-height: 1.35rem;
        padding-right: 0rem;
        padding: 0rem 2rem;
        text-align: center;
        font-size: .9rem;
    }

    .btn {
        /* background: linear-gradient(90deg, var(--gradient-b-from), var(--gradient-b-to)); */
        /* cursor: pointer; */
        width: 4rem;
        height: 2.9rem;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        /*  border-top-right-radius: .5rem;
       border-bottom-right-radius: .5rem; */
        /* border-radius: 2rem; */
        /* position: absolute; */
        left: 18rem;
        box-shadow: 0px 5px 25px 2px var(--gradient-b-from);
    }

    .text-email {
        /* padding: 1rem 7rem */
        min-width: 270px;
        padding: .8rem;
        padding-left: 2rem;
        /* border-radius: 2rem; */
       /*  border: solid 1px var(--Desaturated-Red); */
        /* color: var(--Dark-Grayish-Red); */
        font-size: .9rem;
    }
    .form {
       /*  display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        padding: 1rem ;
        /* padding-bottom: 3rem; */
        padding-left: 1.8rem;
        padding-bottom: 0;
    
    }
    input[type]:focus {
        /* border-color: var(--Soft-Red); */
        border: solid 1px var(--Soft-Red);
        /* outline: 0 none; */
    }
    .valid-email {
        /* color: var(--Soft-Red); */
        font-size: .8rem;
        padding-left: 4rem;
        /* line-height: .2rem; */
        padding-bottom: 3rem;
    }
    .error-icon {
        /* position: absolute; */
        left: 16rem;
        /* top: 1.7; */
    }
   /*  body{
        background-color: var(--gradient-b-from);
    } */
}





.disabled {
    display: none;
}